<%- include('../includes/head.ejs') %> 

</head>
<body>
    <div class="wrapper">
    <%- include('../includes/nav.ejs') %>
    <div class="main_content">
        <div class="header">Ukuran Jas <%= produk.namaCustomer %>  <i class="bi bi-clipboard-data text-center"></i></div>

        <div class="info">
            <br>
            <form action="/customer/ukuranJas" method="post">
                <div class="row justify-content-center ukuranRow">
                    <div class="col-10">
                        <%- include('../includes/navFixed.ejs') %> 
                        <div class="row baju-row">

                            <div class="col-1">
                                <p class="lead">1</p>
                            </div>
                            <div class="col-3">
                            <p class="lead">Panjang badan</p>
                            </div>
                            <div class="col-4">
                                <input class="form-control ukuranbaju" type="text" placeholder="Panjang Depan" name="panjangDepan" value="<%= produk.ukuran.jas[0]?.panjangbadan[0]?.panjangDepan %>">
                            </div>
                            <div class="col-4">
                                <input class="form-control ukuranbaju" type="text" placeholder="Panjang Belakang" name="panjangBelakang" value="<%= produk.ukuran.jas[0]?.panjangbadan[0]?.panjangBelakang %>">
                            </div>

                            <div class="col-1">
                                <p class="lead">2</p>
                        </div>
                        <div class="col-3">
                            <p class="lead">pundak</p>
                        </div>
                        <div class="col-8">
                            <input class="form-control ukuranbaju" type="text" name="pundak" value="<%= produk.ukuran.jas[0]?.pundak %>">
                        </div>
                        
                        <div class="col-1">
                            <p class="lead">3</p>
                    </div>
                    <div class="col-3">
                        <p class="lead">Lebar bahu</p>
                    </div>
                    <div class="col-8">
                        <input class="form-control ukuranbaju" type="text" name="lebarBahu" value="<%= produk.ukuran.jas[0]?.lebarBahu %>">
                    </div>

                        <div class="col-1">
                            <p class="lead">4</p>
                    </div>
                    <div class="col-3">
                        <p class="lead">panjang Tangan</p>
                    </div>
                    <div class="col-8">
                        <input class="form-control ukuranbaju" type="text" name="panjangTangan" value="<%= produk.ukuran.jas[0]?.lebarBahu %>">
                    </div>

                    <div class="col-1">
                        <p class="lead">5</p>
                    </div>
                    <div class="col-3">
                    <p class="lead">badan</p>
                    </div>
                    <div class="col-4">
                        <input class="form-control ukuranbaju" type="text" placeholder="Badan Depan" name="badanDepan" value="<%= produk.ukuran.jas[0]?.badan[0]?.badanDepan %>">
                    </div>
                    <div class="col-4">
                        <input class="form-control ukuranbaju" type="text" placeholder="Badan Belakang" name="badanBelakang" value="<%= produk.ukuran.jas[0]?.badan[0]?.badanBelakang %>">
                    </div>

                    <div class="col-1">
                        <p class="lead">6</p>
                </div>
                <div class="col-3">
                    <p class="lead">Dada</p>
                </div>
                <div class="col-8">
                    <input class="form-control ukuranbaju" type="text" name="dada" value="<%= produk.ukuran.jas[0]?.dada %>">
                </div>

                <div class="col-1">
                    <p class="lead">7</p>
            </div>
            <div class="col-3">
                <p class="lead">Pinggang</p>
            </div>
            <div class="col-8">
                <input class="form-control ukuranbaju" type="text" name="pinggang" value="<%= produk.ukuran.jas[0]?.pinggang %>">
            </div>

                    <div class="col-1">
                        <p class="lead">8</p>
                </div>
                <div class="col-3">
                    <p class="lead">Pinggul</p>
                </div>
                <div class="col-8">
                    <input class="form-control ukuranbaju" type="text" name="pinggul" value="<%= produk.ukuran.jas[0]?.pinggul %>">
                </div>

                <div class="col-1">
                    <p class="lead">9</p>
                </div>
                <div class="col-3">
                <p class="lead">Leher</p>
                </div>
                <div class="col-8">
                <input class="form-control ukuranbaju" type="text" name="leher" value="<%= produk.ukuran.jas[0]?.leher %>">
                </div>

                            <input type="hidden" value="<%= produk._id %> " name="idBp" >

                            <div class="col-1 m-auto">
                                <br>
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn btn-success" type="submit">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
            </div>
    </div>
    </div>
<%- include('../includes/end.ejs') %>